

.name{
	font-size:100px;
}
body{
	background-color: white;
}
.Homephoto{
	height: 100px;
	width: 100px;
	
}
.personality{
	font-size:90px;
	font-color: light green;
}

.tablepersonality{
	table-background: light blue;
	font-size:90px;
}
.Photo_div{
	height:60px;
	width:80px;
}
.Photo_div{
	height:60px;
	width:80px;
}

